/* Agrega aquí tus estilos*/
body{
	margin:0;
	margin-top: 0;
	background-image: url(../images/purple_colorful-wide.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.8

}
.summary {
    font-size: 0.8em;
    overflow: hidden;
    position: absolute;
    left: 1021px;
    top: 70px;
    height: 140px;
    text-align: justify;
    width: 251px;
    z-index: 3;
    color:#B2B2B2;
    text-align: right;
}
section header{
	background-image: url(../images/background.jpg);
	background-size: cover;
	height: 201px;
	padding-top: 1px;
}
section header h1{
	margin:0;
	margin-top: 13px;
	margin-bottom: 0px;
	color:#B2B2B2;
	
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
}
section header h2{
	margin:32px;
	color:#B2B2B2;
	
	font-family: 'Dancing Script', cursive;
	margin-top: 0;
}
.sidebar{
	position:absolute;
	top:203px;
	width:277px;
	text-align:center;
	left:679px;
	right:354px;
	font-size:0.85em;
	text-align: justify;
	
	background-size:cover;
}
h3 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 38px
}
.preamble, .supporting {
    position: relative;
    text-align: justify;
    width: 370px;
    top: -36px;
    left: 150px;
    z-index: 4;
   
}
p {
	font-family: 'Droid Sans', sans-serif;
}
